Text {
    -fx-font-family: Helvetica, Arial, SansSerif;
}

#root {
    -fx-pref-width: 1024;
    -fx-pref-height: 768;
    -fx-background-image: url("images/backgroundTileBlue.png");
    -fx-background-repeat: repeat;
}

.hand {
    -fx-background-color: black;
}

.opponent {
    -fx-alignment: CENTER;
}

.hand .text {
    -fx-fill: white;
}

#timer {
    -fx-font-size: 25;
}

#top {
    -fx-padding: 20;
}

#errorPane {
    -fx-alignment: CENTER;
}

#opponentLeft {
    -fx-rotate: -90;
    -fx-padding: 0 -70;
}

#opponentRight {
    -fx-rotate: 90;
    -fx-padding: 0 -70;
}

#ownHand {
    -fx-padding: 0 0 20 0;
    -fx-background-color: black;
    -fx-pref-width: 200;
}

#playerInfo {
    -fx-fill: white;
}

.cell {
    -fx-border-color: white;
    -fx-fill: none;
    -fx-alignment: CENTER;
    -fx-pref-height: 55;
    -fx-pref-width: 40;
}

.stone {
    -fx-fill: white;
    -fx-max-width: 20;
    -fx-max-height: 40;
}

#bottomPane {
    -fx-pref-height: 200; /*TODO: Schlauer lösen! */
    -fx-padding: 50 0 0 0;
}

.RED {
    -fx-fill: red;
}

.YELLOW {
    -fx-fill: yellow;
}

.BLUE {
    -fx-fill: blue;
}

.BLACK {
    -fx-fill: black;
}

.JOKER {
    -fx-fill: magenta;
}

.stoneValue {
    -fx-font-weight: 700;
}