/* Temp */
Rectangle {
    -fx-fill: white;
    -fx-stroke: black;
}

Text {
    -fx-font-family: Helvetica, Arial, SansSerif;
}

.root {
    -fx-background-color: #095F94;
}

.hand {
    -fx-background-color: black;
    -fx-alignment: center;
}

.hand .text {
    -fx-fill: white;
}

/* Stone in hand */
GridPane VBox {
    -fx-background-color: white;
    -fx-border-color: black;
}

#timer {
    -fx-font-size: 25;
}

#opponentLeft {
    -fx-rotate: -90;
}

#opponentRight {
    -fx-rotate: 90;
}

